<button mat-button (click)="openDialog()">Click Me</button>
<button mat-raised-button>Click Me</button>
<button mat-flat-button>Click Me</button>
<button mat-stroked-button>Click Me</button>
<button mat-icon-button><mat-icon>edit</mat-icon></button>
<button mat-fab><mat-icon>edit</mat-icon></button>
<button mat-mini-fab><mat-icon>edit</mat-icon></button>

<br>

<button mat-mini-fab class="text-bg-danger"><mat-icon>edit</mat-icon></button>
<button mat-mini-fab class="text-bg-success"><mat-icon>edit</mat-icon></button>
<button mat-mini-fab class="text-bg-warning"><mat-icon>edit</mat-icon></button>
<button mat-mini-fab class="text-bg-salman"><mat-icon>edit</mat-icon></button>
