<button mat-button (click)="openDialog()">Click Me</button>
<button mat-raised-button>Click Me</button>
<button mat-flat-button>Click Me</button>
<button mat-stroked-button>Click Me</button>
<button mat-icon-button><mat-icon>edit</mat-icon></button>
<button mat-fab><mat-icon>edit</mat-icon></button>
<button mat-mini-fab><mat-icon>edit</mat-icon></button>


<button mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button>
<button mat-mini-fab color="warn"><mat-icon>edit</mat-icon></button>
<button mat-mini-fab color="accent"><mat-icon>edit</mat-icon></button>
