<span matBadge="10" matBadgeOverlap="false" matBadgePosition="below after" [matBadgeSize]="noofNotifications === 1 ? 'small' : 'large'">Notification</span>
<span matBadge="10" matBadgeOverlap="false" matBadgePosition="below after" matBadgeSize="small">Notification</span>
<span [matBadge]="noofNotifications" matBadgeOverlap="false" matBadgePosition="below after" matBadgeSize="medium" [matBadgeHidden]="noofNotifications === 0">Notification</span>
<span matBadge="10" matBadgeOverlap="false" matBadgePosition="below after" matBadgeSize="small">Notification</span>
