<mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput type="text" placeholder="Enter text" required />
    <mat-hint>This is a hint</mat-hint>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Cars</mat-label>
    <mat-select required multiple [(ngModel)]="selectedCars" (selectionChange)="limitCars()">
        <mat-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</mat-option>
    </mat-select>
    <mat-hint>This is a hint</mat-hint>
</mat-form-field>

<mat-checkbox labelPosition="after">Subscribe</mat-checkbox>

<br>
<mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="startDate" [min]="minDate">
    <mat-datepicker-toggle [for]="startDate" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
</mat-form-field>

<button mat-icon-button matTooltip="This is a submit Button" matTooltipShowDelay="2000" matTooltipPosition="above">
    <mat-icon>sync</mat-icon>
</button>
