<mat-accordion multi="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Question 1
            </mat-panel-title>
            <mat-panel-description>
                Click to expand
            </mat-panel-description>
        </mat-expansion-panel-header>
        Answer
        <p>This is the answer to the question.</p>
        <mat-action-row>
            <button mat-button>Action 1</button>
            <button mat-button>Action 2</button>
            <button mat-button>Action 3</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Question 2
            </mat-panel-title>
            <mat-panel-description>
                Click to expand
            </mat-panel-description>
        </mat-expansion-panel-header>
        Answer
        <p>This is the answer to the question.</p>
        <mat-action-row>
            <button mat-button>Action 1</button>
            <button mat-button>Action 2</button>
            <button mat-button>Action 3</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>